.header {
  display: flex;
  height: 60px;
  padding: 0 12rem;
  background-color: var(--preto-1);
}
.menu {
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
.links {
  display: flex;
  gap: 1rem;
}
