.header {
  display: flex;
  height: 60px;
  background-color: var(--preto-1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.menu {
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 14rem;
}
.links {
  display: flex;
  gap: 1rem;
}
